<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Go Swag</title>
</head>
<body>
<div class="header">
<h1>GoSwag</h1>
    <h2>Get your dreamy things in click</h2>
    </div>
<div class="connection">
    <div class="formUser">
      <label for="username">User name</label>
      <input class="form-control" id="username" type="text" placeholder="Enter your name">
    </div>
    <div class="formMail">
      <label for="email">Emaill</label>
      <input class="form-control" id="email" type="email" placeholder="Enter your email">
    </div>
</div>

<div class="pictures">
    <input class="form-control" id="itemSearch" type="text" placeholder="Enter your item" onkeydown="myscript(value)">
        <script>
          function waitForSocketConnection(socket, callback){
        setTimeout(
            function(){
                if (socket.readyState === 1) {
                    if(callback !== undefined){
                        callback();
                    }
                    return;
                } else {
                    waitForSocketConnection(socket,callback);
                }
            }, 5);
          };
           var ws = new WebSocket("ws://192.168.14.57:80/websocket");

           var itemSearch = document.getElementById('itemSearch');
            console.log(itemSearch);
             myscript = function(text) {
              waitForSocketConnection(ws, function() {
                console.log(text);
              ws.send(text);
                });
             };
             ws.onopen = function() {
                waitForSocketConnection(ws, function() {
                  ws.send('hello');
                });
             };
             ws.onmessage = function (evt) {
                alert(evt.data);
             };

        </script>
    <div class="having">
        <div class="pictures">
          <ul>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
          </ul>
        </div>
    </div>
</div>
</body>
</html>