<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ static_url("views/main.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Go Swag</title>
</head>
<body>
<div class="header">
<h1>GoSwag</h1>
    <h2>Get your dreamy things in click</h2>
    </div>
<div class="connection">
    <div class="formUser">
      <label for="username">User name</label>
      <input class="form-control" id="username" type="text" placeholder="Enter your name">
    </div>
    <div class="formMail">
      <label for="email">Emaill</label>
      <input class="form-control" id="email" type="email" placeholder="Enter your email">
    </div>
</div>

<div class="pictures">
    <div class="having">
        <div class="pictures">
          <ul>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
            <li><a href="#"><img src="http://placehold.it/50x50" /></a></li>
          </ul>
        </div>
    </div>
</div>
</body>
</html>